.portfolio-item.show-on-scroll {
  opacity: 0;
  transition: all 1s;
  transform: scale(0);
  // position: relative;
  // top: -400px;

  &.animate {
    opacity: 1;
    transform: scale(1);
    // top: 0;
  }
}

.about.show-on-scroll {
  overflow: hidden;

  .articleTitle {
    transition: all .5s;
    transform: translateY(-200%);
  }

  p {
    transition: all .5s;
    transition-delay: .3s;
    transform: translateY(-400px);
  }

  p:nth-of-type(2) {
    transition-delay: .6s;
  }

  p:nth-of-type(3) {
    transition-delay: .9s;
  }


  &.animate {
    .articleTitle, p {
      transform: translateY(0);
    }
  }
}