
.button-group input {
  display: none;
}

.button-group label span {
  @include button(false, #5e5e5e, $success-color, auto, solid);
}

.button-group input:checked + span,
.button-group label span:hover,
.button-group input:checked + span:active {
  @include button(false, $success-color, $success-color, auto, solid);
}

span.wpcf7-list-item.first {
  margin: 0;
}

#searchform {
  .input-group-field {
    min-width: 250px;
  }
}