.portfolio-item {
  @apply relative overflow-hidden z-10;
  text-shadow: 1px 1px 4px #000;
  opacity: 0;
  transition: all 1s;
  transform: scale(0);
}

.portfolio-item__heading {
  @apply absolute text-white text-3xl text-center w-full left-0 p-3;
  bottom: -200px;
  transition: bottom 0.3s;
  backface-visibility: hidden;
}

.portfolio-item img {
  filter: brightness(100%);
  transition: 0.3s filter linear;
}

.portfolio-item:hover, .portfolio-item:focus {
  @apply z-20;
}

.portfolio-item:focus {
  @apply outline-none shadow-outline;
}

.portfolio-item:hover img {
  filter: brightness(53%);
}

.portfolio-item:hover .portfolio-item__heading {
  bottom: 50%;
  transform: translateY(50%);
}

.portfolio-item.animate {
  opacity: 1;
  transform: scale(1);
}