.hero {
  position: relative;
  min-height: rem-calc(500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;


  video {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    z-index: 1;
  }

  &__header {
    color: #fff;
    text-shadow: 0 0 15px #000;
    font-size: rem-calc(60);
  }

  &__subheader {
    text-align: center;
  }
}

.callout.secondary-dark {
  background-color: $secondary-color;
  color: #fff;

  .h1, .h2, .h3, .h4, .h5 {
    color: #fff;
  }
}

@include breakpoint(small only) {

  .hero {
    min-height: rem-calc(250);

    &__header {
      font-size: rem-calc(30);
    }

  }

}

