.admin-bar {
    .sticky.is-stuck.is-at-top {
        margin-top: 32px !important;
    }
}

.aux-nav {
    background: $secondary-color;
    color: #fff;

    a, button {
        color: #fff;
    }

    a:hover,
    .dropdown.menu .is-active > a {
        background-color: $primary-color;
        color: #fff;
    }

    .submenu a {
        color: $secondary-color;
        width: 100%;

        &:hover {
            background-color: $secondary-color;
            color: #fff;
        }
    }

    .dropdown.menu > li > a {
        background: transparent;

        &:hover {
            background: $primary-color;
        }
    }

    .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        border-color: #fff transparent transparent;
    }
}
